{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
    <div class="sidebar-brand-icon">
      <i class="fas fa-code"></i>
      <!-- <i class="fas fa-laugh-wink"></i> -->
    </div>
    <div class="sidebar-brand-text mx-3">UGV-CLUB <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    {% if user.club_name == 'PROGRAMMING' %}
    <a class="nav-link" href="{% url 'dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
    {% else %}
    <a class="nav-link" href="{% url 'dev_dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
    {% endif %}
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    {% if user.club_name == 'PROGRAMMING' %}
    
  <hr class="sidebar-divider" />

    <a class="nav-link pt-0" href="{% url 'add_gallery_image' %}">
      <i class="fas fa-rectangle-history"></i>
      <span>Add Gallery Image</span>
    </a>
      <hr class="sidebar-divider" />
    <a class="nav-link pt-0" href="{% url 'add_award_event' %}">
      <i class="fas fa-rectangle-history"></i>
      <span>Add Award Event</span>
    </a>
      <hr class="sidebar-divider" />
    <a class="nav-link pt-0" href="{% url 'create_user_account' %}">
      <i class="fas fa-rectangle-history"></i>
      <span>Create Member Account</span>
    </a>
    
    {% else %}
    <a class="nav-link pt-0" href="{% url 'dev_create_user_account' %}">
      <i class="fas fa-rectangle-history"></i>
      <span>Create Member Account</span>
    </a>
    <hr class="sidebar-divider" />
    <a class="nav-link pt-0" href="{% url 'dev_add_gallery_image' %}">
      <i class="fas fa-rectangle-history"></i>
      <span>Add Gallery Image</span>
    </a>

     <hr class="sidebar-divider" />
    <a class="nav-link pt-0" href="{% url 'dev_add_award_event' %}">
      <i class="fas fa-rectangle-history"></i>
      <span>Add Award Event</span>
    </a>



    {% endif %}
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Make Payment -->
  <!-- <li class="nav-item ">
        <a class="nav-link pt-0" href="{% url 'make_payment' %}">
            <i class="fas fa- fa-user"></i>
            <span>Make Payment</span>
        </a>
    
    </li> -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1" aria-expanded="true"
      aria-controls="collapsePages1">
      <i class="fas fa-money-check"></i>

      <span>Payment </span>
    </a>

    <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Event Page</h6> -->

        {% if user.club_name == 'PROGRAMMING' %}

        <b><a class="collapse-item" href="{% url 'make_payment' %}">Add Payment</a></b>
        <b><a class="collapse-item" href="{% url 'due_list' %}">Due List</a></b>
        <b><a class="collapse-item" href="{% url 'payment_history' %}">Payment History </a></b>
        

        {% else %}
        <b><a class="collapse-item" href="{% url 'dev_make_payment' %}">Add Payment</a></b>
        <b><a class="collapse-item" href="{% url 'dev_payment_history' %}">Payment History</a></b>

        {% endif %}
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Make Payment -->
  <li class="nav-item">
    {% if user.club_name == 'PROGRAMMING' %}
    <a class="nav-link pt-0" href="{% url 'expense' %}">
      <i class="fas fa-dollar-sign"></i>
      <span>Expense</span>
    </a>
    {% else %}
    <a class="nav-link pt-0" href="{% url 'dev_expense' %}">
      <i class="fas fa-dollar-sign"></i>
      <span>Expense</span>
    </a>
    {% endif %}
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Heading -->
  <!-- <div class="sidebar-heading">
        Account's
    </div> -->

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-calendar"></i>
      <span>Event </span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Event Page</h6> -->
        {% if user.club_name == 'PROGRAMMING' %}

        <b><a class="collapse-item" href="{% url 'show_event' %}">Show Event</a></b>
        <b><a class="collapse-item" href="{% url 'event' %}">Add Event</a></b>
        {%else %}

        <b><a class="collapse-item" href="{% url 'dev_show_event' %}">Show Event</a></b>
        <b><a class="collapse-item" href="{% url 'dev_event' %}">Add Event</a></b>

        {% endif %}
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Nav Item - Charts -->

  <!-- Nav Item - Tables -->
  < <!-- Divider -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->